# ServiceNow
SNOW_INSTANCE_URL=https://your-instance.service-now.com/
SNOW_USERNAME=
SNOW_PASSWORD=
SNOW_EXPORT_FIELDS=sys_id,number,short_description,priority,urgency,impact,state,category,subcategory,opened_at,resolved_at,closed_at,location,cmdb_ci,assignment_group,sys_updated_on
SNOW_EXPORT_START_DATE=2024-01-01

# Grafana
GRAFANA_URL=https://grafana.ext.icrc.org
GRAFANA_API_TOKEN=
GRAFANA_PROMETHEUS_DS_ID=4

# NetBox
NETBOX_URL=https://netbox.test.icrc.org
NETBOX_TOKEN=

# OSINT APIs
ACLED_EMAIL=
ACLED_PASSWORD=
CF_API_TOKEN=
# IODA: no auth required

# General
DATA_DIR=./data
